body{
  margin: 5em;
}

header ul{
  border-bottom: thin solid black;
}

ul{  
  padding: 0;
}

li{
  margin-right: 2em;
  margin-top: 1em;
  font-weight: bold;
  list-style-type: none;

}


main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
  border-top: thick solid black;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
  color:gray;
  font-style: italic;
}

a {
  text-decoration: none;
  font-weight: bold;
}

img {
  width:13px;
}

h1 {
  border-bottom: thick solid black;
}
